<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Help Page </title>
        <!-- Our  CSS -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/flat-ui.css" rel="stylesheet">
        <!-- Makes Website  Responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS. Bootstrap FOUR!-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- For icons -->
        <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
        <!-- Flat UI -->
        <link href="css/flat-ui.css" rel="stylesheet">

        <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->

    </head>

    <body>
        <h1 class= 'header'> FAQ </h1>
        <br>
        <br>

        <div id="main-content">

          <div class="accordion list-group">
            <div class="card">
              <button class="list-group-item" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4> What does Pomodoro mean? <div class="alignright"><ion-icon name="arrow-dropdown"></ion-icon> </div> </h4>
              </button>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p> The Pomodoro Technique uses a timer to break down work into intervals that are generally 25 minutes. This technique helps maximize efficiency in achieving goals within a certain time bound. </p>
                </div>
              </div>
            </div>

            <div class="card">
              <button class="list-group-item" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <h4> How do I best use this app? <div class="alignright"><ion-icon name="arrow-dropdown"></ion-icon> </h4>
              </button>
              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <p> Our application is designed to be used in three easy steps.
                  1) Authenticating via logging in with Spotify. <br>
                  2) Select the settings you would like for your <b> productivity </b>session. <br>
                  3) Select the settings you would like for your <b> break </b> session. <br>
                  </p>
                </div>
              </div>
            </div>

            <div class="card">
              <button class="list-group-item" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <h4> What types of playlists can I use? <div class="alignright"><ion-icon name="arrow-dropdown"></ion-icon> </h4>
              </button>
              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p> At the moment, Pomelody only supports <b> Spotify </b> playlists. We are unable to implement Youtube playlists because of the fact that Youtube does not support background playing and our application's focus is to minimize screen usage.
                  </p>
                </div>
              </div>
            </div>

        </div>
    </body>
</html>
