<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- This is a comment -->

        <title> Pomelody </title>

        <link href="css/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>


    <body>
       <h1 class="header"> Welcome to Pomelody! </h1>

        <div class="center-container" id="main-content">
                <form>
                    <h2> Username: </h2>
                    <form action="/action_page.php" method="post">
                      <input type="text" id="username" required>
                     
                    </form>

                    <h2> Password: </h2>
                    <input type="password" ng-model="dataItem.password" class="form-control" name="password" placeholder="********" id="password" required/>
                </form>
            <div class="enter_button">
                <button type="submit" onclick= "validateForm()" id="enter-button"> Enter </button> 
            </div>
        </div>
        <script type="text/javascript">

        // Pressing Enter should press button
        var input = document.getElementById("password");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
           event.preventDefault();
           document.getElementById("enter-button").click();
          }
        });
        </script>

        <script type="text/javascript" src="js/login-settings.js"></script>


    </body>
</html>
