<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- This is a comment -->

        <title> Pomelody </title>
        <!-- Our  CSS -->
        <link href="css/style.css" rel="stylesheet">
        <!-- Makes Website  Responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!-- For icons --> 
        <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    </head>


    <body>
        <h1 class="header"> Previous Settings </h1>

        <div class="center-container" id="main-content">

            <div id="prevSettingsInfo">

                    <b> Productivity Playlist: </b> <div class="prev-info" id="prodNameInfo"> {{prodName}} </div> <ion-icon name="create" onclick="editProdPlaylist()"></ion-icon> <br>


                     <b> Productivity Time Interval: </b> <div class="prev-info" id="prodTimeInfo"> {{prodTime}} min </div> <ion-icon name="create" onclick="editProdTime()"></ion-icon> <br>


                     <b> Relaxation Playlist: </b> <div class="prev-info" id="relaxNameInfo"> {{relaxName}} </div> <ion-icon name="create" onclick="editRelaxPlaylist()"></ion-icon> <br>


                     <b> Relaxation Time Interval: </b> <div class="prev-info" id="relaxTimeInfo"> {{relaxTime}} min </div> <ion-icon name="create" onclick="editRelaxTime()"></ion-icon> <br>



            </div>
        <div class="footer">
            <div class="alignleft"><a href="welcome"> <button type="button"> Back </button> </a> </div>
            <div class="alignright"><button type="button" onclick="genJSON()"> Start with these settings </button></div>
        </div>

        </div>



        <script type="text/javascript" src="js/select-settings.js"></script>
        <script type="text/javascript" src="js/prev-settings.js"></script>

    </body>
</html>
