<!DOCTYPE html>
<html>


    <head>
        <meta charset="UTF-8">
        <!-- This is a comment -->

        <title> Pomelody </title>
        <!-- Our  CSS -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/flat-ui.css" rel="stylesheet">
        <!-- Makes Website  Responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <h1 class="header" id="test"> Select Productivity Settings 

    
            <div class="alignleft"> <a href="welcome"> <button type="button" class="btn btn-primary"> Back </button> </a> 
            </div>
  
            <div class="alignright"> <a href="select-relaxation"> <button type="button" class="btn btn-primary"> Next </button> </a> 
            </div>
        </h1>

    

        <div class="center-container" id="main-content">
            <div>
                <h4> Select Playlist URL: </h4>
                <form id="productivity-form">
                  <div id='choose-prod' >
                    <input type="text" class="url-input" id="prod-url">
                    <button type="button" class="btn btn-primary" onclick="verifyProdURL()" value ="Confirm" id="confirmBtn"> Confirm </button>
                  </div>
                  <p id="confirmed-playlist-prod"></p>
                  <a href="select-productivity"> <button type="button" value ="Reset" id="resetBtn" style="display: none;"> Reset </button> </a>
                    <h4> Select Time Interval: </h4>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            0 min
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#" data-value="5">5 min </a></li>
                            <li><a href="#" data-value="10">10 min </a></li>
                            <li><a href="#" data-value="15">15 min </a></li>
                            <li><a href="#" data-value="20">20 min </a></li>
                            <li><a href="#" data-value="25">25 min </a></li>
                            <li><a href="#" data-value="30">30 min </a></li>
                            <li><a href="#" data-value="custom">Custom</a></li>
                          </ul>
                        </div>
                </form>
            </div>
        </div>

        <script type="text/javascript" src="js/select-settings.js"></script>

        <script type="text/javascript">

        function customTime(){

            updateProdTimeVal(selected_value);
            $(this).parents(".dropdown").find('.btn').html(selected_value + ' <span class="caret"></span>');
            $(this).parents(".dropdown").find('.btn').val(selected_value);
        }

        // For Dropdown Menu to Change upon selection
        $(".dropdown-menu li a").click(function(){
            // Selected Drop down value
            var selected_value = $(this).data('value')

            // If custom, prompt user to input
            if(selected_value == "custom") {
                console.log("original value is ", localStorage.getItem('relax_time'));
                var response = prompt("Please enter your desired time");
                // If user presses cancel
                if (response == null) {
                    return;
                }
                // If user inputs invalid number
                while (isNaN(response)) {
                    alert("Please enter a valid number");
                    response = prompt("Please enter your desired time");
                }
                selected_value = response;

            }

            // Update JSON and button
            updateProdTimeVal(selected_value);
            $(this).parents(".dropdown").find('.btn').html(selected_value + ' min <span class="caret"></span>');
            $(this).parents(".dropdown").find('.btn').val(selected_value);

        });


        // Pressing Enter should press button
        var input = document.getElementById("prod-url");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
           event.preventDefault();
           document.getElementById("confirmBtn").click();
          }
        });

        </script>

    </body>
</html>
