<!DOCTYPE html>
<html>


    <head>
        <meta charset="UTF-8">
        <!-- This is a comment -->

        <title> Pomelody </title>
        <!-- Our  CSS -->
        <link href="css/style.css" rel="stylesheet">

        <!-- Makes Website  Responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- For icons -->
        <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
        <!-- Flat UI -->
        <link href="css/flat-ui.css" rel="stylesheet">

        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-135658838-1', 'auto');
        ga('send', 'pageview');
        </script>

    </head>

    <body>
      <div class= "header">
        <a class="alignleft" href="instructions"> <ion-icon name="arrow-round-back"></ion-icon>  </a>
        <h1 id> Select Productivity Settings</h1>
        <a class="alignright" href="select-relaxation"> <ion-icon name="arrow-round-forward"></ion-icon>  </a>
      </div>

      </div>



        <div class="center-container" id="main-content">
            <div></ion-icon>
              <p id="info"> These will be the settings for when you're trying to focus and do work! Pick settings that you think will best help you focus! </p>
                <h4> Select Playlist URL: </h4>
                <p id="info"> This is music that will be playing in the background when you are working. </p>
                <form id="productivity-form">
                  <div id='choose-prod' class= "choose-playlist" >
                    <input type="text" class="url-input form-control" placeholder="Paste Playlist URL" id="prod-url" />
                    <div class="enter_button">
                      <button type="button" class="btn btn-primary" onclick="verifyProdURL()" value ="Confirm" id="confirmBtn"> Confirm </button>
                      </div>
                  </div>

                  <div class ="reset">
                  <p id="confirmed-playlist-prod"></p>
                  <a href="select-productivity"> <button type="button" class="btn btn-primary" value ="Reset" id="resetBtn" style="display: none;"> Reset </button> </a>
                </div>
                    <h4> Select Time Interval: </h4>
                    <p id="info"> This is the amount of time that you want to be working for. </p>
                        <div class="dropdown">
                          <button class="btn btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            0 min
                            <span class="caret"></span>
                          </button>
                          <i class="dropdown-arrow"></i>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#" data-value="5">5 min </a></li>
                            <li><a href="#" data-value="10">10 min </a></li>
                            <li><a href="#" data-value="15">15 min </a></li>
                            <li><a href="#" data-value="20">20 min </a></li>
                            <li><a href="#" data-value="25">25 min </a></li>
                            <li><a href="#" data-value="30">30 min </a></li>
                            <li><a href="#" data-value="custom">Custom</a></li>
                          </ul>
                        </div>
                </form>
            </div>
        </div>

        <script type="text/javascript" src="js/select-settings.js"></script>

        <script type="text/javascript">

        function customTime(){
            console.log("custom time called ")
            updateProdTimeVal(selected_value);
            $(this).parents(".dropdown").find('.btn').html(selected_value + ' <span class="caret"></span>');
            $(this).parents(".dropdown").find('.btn').val(selected_value);
        }

        // For Dropdown Menu to Change upon selection
        $(".dropdown-menu li a").click(function(){
            // Selected Drop down value
            var selected_value = $(this).data('value')

            // If custom, prompt user to input
            if(selected_value == "custom") {
                console.log("original value is ", localStorage.getItem('relax_time'));
                var response = prompt("Please enter your desired time");
                // If user presses cancel
                if (response == null) {
                    return;
                }
                // If user inputs invalid number
                while (isNaN(response)) {
                    alert("Please enter a valid number");
                    response = prompt("Please enter your desired time");
                }
                selected_value = response;

            }

            // Update JSON and button
            updateProdTimeVal(selected_value);
            $(this).parents(".dropdown").find('.btn').html(selected_value + ' min <span class="caret"></span>');
            $(this).parents(".dropdown").find('.btn').val(selected_value);

        });


        // Pressing Enter should press button
        var input = document.getElementById("prod-url");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
           event.preventDefault();
           document.getElementById("confirmBtn").click();
          }
        });

        </script>

    </body>
</html>
