<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- This is a comment -->

        <title> Pomelody </title>
        <!-- Our  CSS -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/flat-ui.css" rel="stylesheet">
        <!-- Makes Website  Responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- Loading Flat UI Pro -->
        <link href="dist/css/flat-ui.css" rel="stylesheet">
    </head>


    <body>
       <h1 class="header"> Welcome to Pomelody! </h1>

        <div class="center-container" id="main-content">

            <h2> 1. Select Productivity Music and Time Interval </h2>
            <h2> 2. Select Relaxing Music and Time Interval </h2>
            <h2> 3. Begin Pomodoro </h2>

            <div class="center-container">
                <a href="select-productivity"> <button type="button" class=" btn btn-primary"> Start! </button> </a>
            </div>
            <div class="enter_button">
                <a href="prev-settings"> <button type="button" class="btn btn-primary"> Load Previous Settings </button> </a>
            </div>
            <div class="enter_button">
                <a href="login"> <button type="button" class="btn btn-primary"> Logout </button> </a>
            </div>
            <div class="enter_button">
                <a href="help-screen"> <button type="button" class="btn btn-primary"> Help </button> </a>
            </div>
        </div>

        <script type="text/javascript">
            var url = document.URL;
            // https://stackoverflow.com/questions/29934606/how-to-get-access-token-from-the-url
            access_token = url.match(/\#(?:access_token)\=([\S\s]*?)\&/)[1];
            if(access_token == null){
                alert("Please ");
            }
            console.log(access_token);
        </script>
    </body>
</html>
