<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- This is a comment -->

        <title> Pomelody </title>

        <link href="css/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>


    <body>
       <!-- <h1 class="header"> Welcome to Pomelody! </h1> -->

        <div class="center-container" id="main-content">
            <h1> Welcome to Pomélody! </h1>
            <h2> 1. Select Productivity Music and Time Interval </h2>
            <h2> 2. Select Relaxing Music and Time Interval </h2>
            <h2> 3. Begin Pomodoro </h2>

            <div class="center-container">
                <a href="select-productivity.html"> <button type="button" > Start! </button> </a>
            </div>
            <div class="enter_button">
                <a href="prev-settings.handlebars"> <button type="button" > Load Previous Settings </button> </a>
            </div>
            <div class="enter_button">
                <a href="login-page.html"> <button type="button" > Logout </button> </a>
            </div>
            <div class="enter_button">
                <a href="help-screen.html"> <button type="button"> Help </button> </a>
            </div>
        </div>
    </body>
</html>
