<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- This is a comment -->

        <title> Pomelody </title>
        <!-- Our  CSS -->
        <link href="css/style.css" rel="stylesheet">
        <!-- Makes Website  Responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- Loading Flat UI Pro -->
        <link href="dist/css/flat-ui.css" rel="stylesheet">

        <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-135763634-1', 'auto');
        ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
    </head>


    <body>
        <audio id="myAudio">
          <source src="sounds/success-sound.mp3" type="audio/mpeg">
        </audio>

        <h1 class="header" id="status"> You Can Do It! </h1>


        <div class="center-container" id="main-content">
            <h2> Productivity Mode </h2>


            <h3 id="countdown"> </h3>

            <button type="button" class="control_button btn btn-info" id="pause"> Pause </button>

            <button type="button" class="control_button btn btn-info" id="resume"> Resume </button>

            <button onclick="skip_function()" class="control_button btn btn-info">Skip</button>
            <button onclick="stop_function()" class="control_button btn btn-info">Stop</button>

            <p id="demo"></p>

            <script>
            function skip_function() {
              var txt;
              if (confirm("Are you sure you want to skip the session?")) {
                txt = "You pressed OK!";
                window.location.href = "treat-yourself";
              }

            }
            </script>


            <p id="demo"></p>

            <script>
            function stop_function() {
              if (confirm("Are you sure you want to stop the session?")) {
                window.location.href = "end";
              }
            }
            </script>


            <div class="footer">
              <!--  <a href="you-can-do-it.html"> <button type="button" > Next </button> </a> -->

            </div>
        </div>

        <script type="text/javascript" src="js/timer.js"></script>
    </body>
</html>
