.center-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
}
.line{
	width: 112px;
	height: 47px;
	position: relative;
}

#main-content{
	padding-right: 15%;
	padding-left: 15%;
	height: 75%;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

body, html {
	height: 100%;
	margin: 0px;
}

input.url-input {
	width: 70%;

}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}

.time-button {
	text-align: center;
}
.header {
	margin: 20px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-color: #48c9b0;
	color: white;
	height: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px !important;
	border-bottom-width: 20px !important;
	border-bottom-style: solid;
}

/* For all states of header links, make them white */
.header a:link,
.header a:visited,
.header a:hover,
.header a:focus,
.header a:active {
	color: white;
}
/*
.header a:hover{
	color: white;
} */

h1, h2, h3, h4 {
	color:  #212f3d;
}

h1,h2 {
	text-align: center;
}

h1 {
	font-size: 30px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

h2 {
	font-size: 30px !important;
	margin-top: 0px !important;
}

h4 {
	font-weight: bold !important;
	font-size: 25px !important;
}

#instructions {
	margin: 0px;
	margin-bottom: 15px;
	font-size: 20px;
}

#info {
	font-size: 11px !important;
}

.header_buttons{
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	color: #48c9b0;
}


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5;
	text-align: right;
}

.centered-footer {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-spacing: 0px;

	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5;
}
.centered-footer button {
	margin: 20px;
}

.footer button {
	margin: 20px;
}

/* .header #header-icon {
	margin-top: 5px !important;
	border-style: solid;
} */
.alignleft {
	float: left;
}
.alignright {
	float: right;
	align-items: center !important;
	justify-content: center;

}

.header .alignright ion-icon {
	padding-top: 20px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
}

.header .alignleft ion-icon{
	padding-top: 20px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
	color: white;
}



.control_button {
	margin-bottom: 15px !important;
}
.enter_button {
	margin-top: 15px;
 }

 #prevSettingsInfo p{
 	padding-top: 5px;
 }

.dropdown ul li{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-spacing: 0px;
}


.wide_header {
	display: flex
}


.dropdown-menu > li > a, .select2-drop > li > a {
  padding: 8px 16px;
  line-height: 1.429;
  color: #606d7a;
  display: block;
}

.dropdown-menu > li > a:selected, .select2-drop > li > a {
  background-color: #fff !important;
}

.dropdown-menu > li > a:hover, .select2-drop > li > a:hover, .dropdown-menu > li > a:focus, .select2-drop > li > a:focus {
  color: #55606c;
  background-color: rgba(202, 206, 209, 0.5);
}


.card {
	margin-bottom: 0px !important;
}
.card-body {
	padding: 20px;
}
.card-body p {
	margin: 0px;
}

#grid ion-icon{
	font-size: 20px !important;
	font-weight: bold !important;
}

#grid button {
	height: 120px;
	width: 120px;
	text-align: center;
}

.row {
	display: flex;
	flex-direction: row;
}
.row .col {
	margin: 10px;
}

/* 	Prev settings panels */

.panel-default {
	width: 400px !important;
}

/* Links in the Previous Settings page should be black */
.panel-default a:link,
.panel-default a:visited,
.panel-default a:hover,
.panel-default a:focus,
.panel-default a:active {
	color: #333 !important;
}

.choose-playlist {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

}
.reset{
	display:flex;
	flex-direction:row;
	justify-content: stretch;
}
